node_modules/
**/node_modules/

frontend/.vite/
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

backend/node_modules/
backend/dist/
backend/build/
backend/.env

.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

.tmp/
.cache/
*.pid
*.seed
*.pid.lock

.env
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.example

dist/
build/
**/dist/
**/build/